
    .tab-link{
        color:white;
        &:hover{
            color:#1890ff;
            cursor: pointer;
        }
    }

    .type-item {
        color:white;
        font-size:15px;
        &:hover{
            color:#1890ff;

        }
    }