.top-card{
    padding: 10px 10px 16px;
    border-radius: 10px;
    margin: 6px;
    height: 70px;
    .img-top{
    display:none;
    }
    &:hover{
        background-color:#1a1c22;
        cursor: pointer;
        height: 200px;
    }
    &:hover .img-top{
        display: block;

    }
}